html,body{
  width:100%;
  background-color:#222;
}

.content{
  width:100%;
}

.stage{
  position:relative;
  width:100%;
  height:680px;
}

.img-sec{
  position:relative;
  width:100%;
  height:100%;
  overflow:hide;
  background-color:#ddd;

   @at-root{
     .img-figure{
       position: absolute;
       margin: 0;
       padding: 40px;
       box-sizing: border-box;
       background-color: #fff;

       img{
         width: 14rem;
       }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin: 20px 0 0 0;
        color:#a7a0a2;
        font-size:16px;
      }
      .img-back {
              position: absolute;
              top: 0;
              left: 0;

              width: 100%;
              height: 100%;
              padding: 50px 40px;
              overflow: auto;

              color: #a7a0a2;
              font-size: 22px;
              line-height: 1.25;
              text-align: left;

              background-color: #fff;

              box-sizing: border-box;
              transform: rotateY(180deg) translateZ(1px);
              backface-visibility: hidden;

              p {
                margin: 0;
              }
            }
    }
   }
  

}

.controller-nav{
  position:absolute;
  left:0;
  bottom:2rem;
  z-index:101;
}